.accessories {
	margin: 50px 0;
}

.accessories h2 {
	margin: 0 0 30px 0;
	padding-bottom: 15px;
	font-size: 36px;
	line-height: 1;
	border-bottom: 1px solid #ba6e46;
}

.accessories .product__image {
	aspect-ratio: 1 / 1;
}
